// Paleta de cores
$roxoClaroNetshoes: #5a2d82;
$roxoEscuroNetshoes: #370f53;
$branco: #ffffff;
$preto: #000000;
$cinzaEscuro: #333333;

// Fonte: Souce Sans Pro - Padrão Netshoes
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("/fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro SemiBold";
  src: url("/fonts/SourceSansPro-Semibold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("/fonts/SourceSansPro-Regular.ttf");
  font-weight: normal;
}
